/* line 1, ../sass/_global.scss */
div {
  position: relative;
}

/* line 5, ../sass/_global.scss */
.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

/* line 14, ../sass/_global.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* Hack for IE7 */
/* line 23, ../sass/_global.scss */
.clearfix {
  display: inline-block;
}

/* line 24, ../sass/_global.scss */
.clearfix {
  display: block;
}

/* WordPress Presentational Classes*/
/* line 27, ../sass/_global.scss */
.aligncenter {
  display: block;
  margin: 0 auto;
}

/* line 28, ../sass/_global.scss */
.alignleft {
  float: left;
}

/* line 29, ../sass/_global.scss */
.alignright {
  float: right;
}

/* line 30, ../sass/_global.scss */
.wp-caption {
  border: 1px solid #666;
  text-align: center;
  background: #ccc;
  padding: 10px;
  margin: 10px;
}

/* line 1, ../sass/_typography.scss */
body, h2, h3, h4, h5, h6, p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.25;
}

/* line 8, ../sass/_typography.scss */
h1, h4 {
  font-weight: 600;
}

/* line 12, ../sass/_typography.scss */
header {
  font-weight: 600;
}

/* line 17, ../sass/_typography.scss */
h1 {
  font-size: 1.750em;
}

/* line 21, ../sass/_typography.scss */
h2 {
  font-size: 1.500em;
}

/* line 25, ../sass/_typography.scss */
h3 {
  font-size: 1.500em;
}

/* line 29, ../sass/_typography.scss */
h4, h5, h6 {
  font-size: 1em;
}

/* line 33, ../sass/_typography.scss */
a {
  text-decoration: none;
  font-size: inherit;
}

/* line 38, ../sass/_typography.scss */
header h2 {
  font-size: 1em;
  font-weight: 600;
}

/* line 44, ../sass/_typography.scss */
nav h4 {
  font-size: 1.500em;
  font-weight: 300;
}
/* line 48, ../sass/_typography.scss */
nav ul {
  list-style: none;
  padding: 0;
}
/* line 52, ../sass/_typography.scss */
nav ul ul li {
  display: block;
  font-size: 1em;
  font-weight: 600;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
}
/* line 61, ../sass/_typography.scss */
nav ul ul li a {
  color: #878787;
}

/* line 1, ../sass/_layout.scss */
body {
  color: #979797;
  background: #f7f6f5;
  -webkit-font-smoothing: antialiased;
}

/* line 8, ../sass/_layout.scss */
section {
  background: white;
}

/* line 13, ../sass/_layout.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

/* line 18, ../sass/_layout.scss */
h1 {
  color: #646464;
}
