$mainFontFamily: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$backgroundColor: #f7f6f5;
$mainColor: #979797;

$accentColor: #646464;

$boldColor: #878787;

$lightColor: #adadad;
